.idea
*.iml
main
forta-node
forta
debug
build
.vscode
config-local.yml
*.log

tests/e2e/.ethereum
tests/e2e/.imagerefs

!tests/e2e/.ipfs
tests/e2e/.ipfs/*
!tests/e2e/.ipfs/config
!tests/e2e/.ipfs/datastore_spec
!tests/e2e/.ipfs/version

!tests/e2e/.forta
tests/e2e/.forta/*
!tests/e2e/.forta/.keys
!tests/e2e/.forta/config.yml

*coverage.*
!*coverage.sh
coverage
