Source: forta
Section: unknown
Priority: optional
Maintainer: root <>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/forta-network/forta-node

Package: forta
Architecture: any
Multi-Arch: foreign
Depends: systemd, ${misc:Depends}, ${shlibs:Depends}
Description: Forta scanner node CLI
